Repository codesquad-member-2020/baseball-07, pull requests merged in 2020-05, with the labels that each got.

#18 [iOS] 게임 목록 화면 구현 및 서버에서 데이터 받아오는 기능 구현
  .gitignore
  iOS/BaseballGame/BaseballGame.xcodeproj/project.pbxproj
  iOS/BaseballGame/BaseballGame.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/BaseballGame/BaseballGame.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/BaseballGame/BaseballGame.xcodeproj/xcuserdata/adorabledy.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/BaseballGame/BaseballGame/Assets.xcassets/99.imageset/99.png
  iOS/BaseballGame/BaseballGame/Assets.xcassets/99.imageset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/Contents.json
  iOS/BaseballGame/BaseballGame/Base.lproj/LaunchScreen.storyboard
  iOS/BaseballGame/BaseballGame/Base.lproj/Main.storyboard
  iOS/BaseballGame/BaseballGame/DataSources/GameListTableDataSource.swift
  iOS/BaseballGame/BaseballGame/Entry/AppDelegate.swift
  iOS/BaseballGame/BaseballGame/Entry/SceneDelegate.swift
  iOS/BaseballGame/BaseballGame/Info.plist
  iOS/BaseballGame/BaseballGame/Models/GameList.swift
  iOS/BaseballGame/BaseballGame/Models/NetworkError.swift
  iOS/BaseballGame/BaseballGame/Models/NetworkTask.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/NetworkDispatcher.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/Request.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/GameListViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/GithubLoginViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/ViewController.swift
  iOS/BaseballGame/BaseballGame/ViewModels/ViewModelBinding.swift
  iOS/BaseballGame/BaseballGame/Views/Components/GameListTableViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/GameListTitle.swift
  iOS/BaseballGame/BaseballGame/Views/Components/ParticipantLabel.swift
  iOS/BaseballGame/BaseballGame/Views/Components/VersusLabel.swift
  iOS/BaseballGame/BaseballGame/Views/GameListCardView.swift
  iOS/BaseballGame/BaseballGame/Views/GameListTableView.swift
Labels: iOS

#19 [iOS] 게임 목록 화면에 기능 추가
  iOS/BaseballGame/BaseballGame.xcodeproj/project.pbxproj
  iOS/BaseballGame/BaseballGame/Entry/AppDelegate.swift
  iOS/BaseballGame/BaseballGame/Extensions/ExtendedNotificationName.swift
  iOS/BaseballGame/BaseballGame/Info.plist
  iOS/BaseballGame/BaseballGame/Models/GameList.swift
  iOS/BaseballGame/BaseballGame/Models/NetworkTask.swift
  iOS/BaseballGame/BaseballGame/Utilities/ErrorHandling/ErrorAlertController.swift
  iOS/BaseballGame/BaseballGame/Utilities/ErrorHandling/NetworkError.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/NetworkUseCase.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/Request.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/GameListViewController.swift
  iOS/BaseballGame/BaseballGame/Views/Components/NetworkIndicator.swift
Labels: iOS

#25 [BE] 입장 요청 API
  BE/src/main/java/com/codesquad/baseball07/controller/GameController.java
  BE/src/main/java/com/codesquad/baseball07/dao/GameDao.java
  BE/src/main/java/com/codesquad/baseball07/dto/EntryDto.java
  BE/src/main/java/com/codesquad/baseball07/service/GameService.java
Labels: BE

#28 [iOS] 게임 진행 화면 구현
  iOS/BaseballGame/BaseballGame.xcodeproj/project.pbxproj
  iOS/BaseballGame/BaseballGame/Assets.xcassets/Green.colorset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/Navy.colorset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/Orange.colorset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/Red.colorset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/Yellow.colorset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/checkmark.symbolset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/checkmark.symbolset/checkmark.svg
  iOS/BaseballGame/BaseballGame/Assets.xcassets/graph.imageset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/graph.imageset/graph.png
  iOS/BaseballGame/BaseballGame/Assets.xcassets/hitter.imageset/Contents.json
  iOS/BaseballGame/BaseballGame/Assets.xcassets/hitter.imageset/hitter2.png
  iOS/BaseballGame/BaseballGame/Base.lproj/Main.storyboard
  iOS/BaseballGame/BaseballGame/DataSources/AllInningHistoryCollectionViewDataSource.swift
  iOS/BaseballGame/BaseballGame/DataSources/InningCollectionViewDataSource.swift
  iOS/BaseballGame/BaseballGame/Delegates/InningCollectionViewDelegate.swift
  iOS/BaseballGame/BaseballGame/Extensions/ExtendedNotificationName.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/Request.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/GameListViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/PlayViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/ScoresViewController.swift
  iOS/BaseballGame/BaseballGame/Views/Components/AllInningHistoryCollectionViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/InningCollectionViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Labels/GameListTitleLabel.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Labels/ParticipantLabel.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Labels/VersusLabel.swift
  iOS/BaseballGame/BaseballGame/Views/Components/PitchButton.swift
  iOS/BaseballGame/BaseballGame/Views/Components/PlayHistoryTableViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/StackViews/CircleStackView.swift
  iOS/BaseballGame/BaseballGame/Views/Components/StackViews/NowTurnPlayerInfoStackView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/AllInningHistoryCollectionView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/CircleView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GameFieldView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GameHeaderView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GameListCardView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GameListTableView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GroundView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/HomeView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/InningCollectionView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/OnePlayerInfoView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/PlayHistoryTableView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/PlayerHistoryTableView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/RhombusView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/SBOView.swift
Labels: iOS, view

#42 [iOS] 게임 진행 화면 기능 구현
  iOS/BaseballGame/BaseballGame.xcodeproj/project.pbxproj
  iOS/BaseballGame/BaseballGame/Base.lproj/Main.storyboard
  iOS/BaseballGame/BaseballGame/DataSources/AllInningHistoryCollectionViewDataSource.swift
  iOS/BaseballGame/BaseballGame/DataSources/GameListTableDataSource.swift
  iOS/BaseballGame/BaseballGame/DataSources/InningCollectionViewDataSource.swift
  iOS/BaseballGame/BaseballGame/Extensions/ExtendedNotificationName.swift
  iOS/BaseballGame/BaseballGame/Models/GameList.swift
  iOS/BaseballGame/BaseballGame/Models/Pitch.swift
  iOS/BaseballGame/BaseballGame/Models/PitchHistory.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/EndPoints.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/NetworkUseCase.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/Request.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/UseCase/GameListUseCase.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/UseCase/GameRoomInfoUseCase.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/UseCase/InningHistoryUseCase.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/UseCase/PitchUseCase.swift
  iOS/BaseballGame/BaseballGame/Utilities/Network/UseCase/RoomEnterAvailableUseCase.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/GameListViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/GithubLoginViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/PlayViewController.swift
  iOS/BaseballGame/BaseballGame/ViewControllers/ViewController.swift
  iOS/BaseballGame/BaseballGame/ViewModels/PitchViewModel.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Cells/AllInningHistoryCollectionViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Cells/GameListTableViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Cells/InningCollectionViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/Cells/PlayHistoryTableViewCell.swift
  iOS/BaseballGame/BaseballGame/Views/Components/PitchButton.swift
  iOS/BaseballGame/BaseballGame/Views/Components/StackViews/NowTurnPlayerInfoStackView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/CircleView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GameFieldView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GameHeaderView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/GroundView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/OnePlayerInfoView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/RhombusView.swift
  iOS/BaseballGame/BaseballGame/Views/Views/SBOView.swift
Labels: enhancement, iOS
